
@model DAL.JockeySalud.CitaModel.Cita
@using JockeySaludApplication.Utils;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/citas/Views/Shared/_Layout.cshtml";
}

<main class="container">
    <!-- FORMS -->
    <section class="row mt-10">

        <!-- Title -->
        <div class="col-md-12">
            <div class="row text-white pt-4 pb-4 bg-secondary">
                <div class="col-md-2 text-center">
                    <img height="50px" src="~/img/icons/family-room.png" alt="family-room">
                </div>
                <div class="col-md-10">
                    <p class="mb-0 font-weight-bold">
                        AFÍLIATE AHORA A JOCKEY SALUD FAMILIA
                    </p>
                    <p class="mb-0">
                        Y OBTÉN GRANDES BENEFICIOS
                    </p>
                </div>
            </div>
        </div>
        <!-- Title -->
        <!-- FORM 1 -->
        <div class="col-md-12">
            <form class="row combos b-gray-1 text-center pt-5 pb-5 mb-5">
                <div class="col-md-12 pb-4">
                    <p class="text-secondary font-weight-bold">
                        Resumen de la transacción:<br />   <h4>@ViewBag.transactionState</h4>
                    </p>
                </div>
                <div class="col-md-5 ml-auto text-left">
                    <p>Id Trasacción:@ViewBag.IdTransaccion</p>
                    <p>Referencia de pago:@ViewBag.referencia</p>

                </div>
                <div class="col-md-5 mr-auto text-left">
                    <p>Metodo de pago: @ViewBag.metodopago</p>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <form class="row combos b-gray-1 text-center pt-5 pb-5 mb-5">
                <div class="col-md-12 pb-4">
                    <p class="text-secondary font-weight-bold">
                        Resumen de la cita:
                    </p>
                </div>
                <div class="col-md-5 ml-auto text-left">
                    <p class="mb-2">
                        <span class="font-weight-bold text-primary">DETALLES</span>
                    </p>
                    <p><strong>Especialidad: </strong>@Model.StrEspe</p>
                    <p><strong>Cobertura: </strong>@Model.Cobertura</p>
                    <p><strong>Médico: </strong>@(Model.Nombre + " " + Model.ApellidoPat + " " + Model.ApellidoMat)</p>

                </div>
                <div class="col-md-5 mr-auto text-left">
                    <p class="mb-2">
                        <span class="font-weight-bold text-primary"> &nbsp; </span>
                    </p>
                    <p><strong>Fecha: </strong>@Model.StrDia @Model.StrFecha</p>
                    <p><strong>Hora: </strong>@string.Format("{0:HH:mm:ss tt}", DateTime.Parse(Model.StrFechaHoraIni))</p>
                </div>
            </form>
            <div class="col-md-5 ml-auto">
                <h4>Total: S/. @Html.DisplayFor(model => model.MontoPago)</h4><br />


            </div>

        </div>
        <!-- /FORM 1 -->
    </section>
</main>