@model JockeySaludApplication.Model.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <link rel="shortcut icon" href="~/images/favicon.ico">
    <title>Login - Microsite Jockey Salud</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="~/vendor/animateit/animate.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" />

    <!-- Vendor css -->
    <link href="~/vendor/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="~/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- CSS base -->
    <link href="~/css/theme-base.css" rel="stylesheet">

    <!-- CSS elementos -->
    <link href="~/css/theme-elements.css" rel="stylesheet">

    <!-- Responsive classes -->
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
            <![endif]-->
    <!-- LOAD GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600%7CRaleway:100,300,600,700,800" rel="stylesheet" type="text/css" />

    <!-- CSS CUSTOM STYLE -->
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" media="screen" />

    <!--VENDOR SCRIPT-->
    <script src="~/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/vendor/plugins-compressed.js"></script>

    <script src="~/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker-master/locales/bootstrap-datepicker.es.min.js"></script>

    <style type="text/css">
        #header, #header-wrap, #logo img, #header.header-sticky:not(.header-static) nav#mainMenu ul.main-menu, #mainMenu > ul, #header .side-panel-button {
            position: inherit;
        }
    </style>

</head>

<body class="boxed">


    <!-- WRAPPER -->
    <div class="wrapper">

        <!-- HEADER -->
        <header id="header" class="">
            <div id="header-wrap">
                <div class="container">
                    <!--LOGO-->
                    <div id="logo">
                        <a href="~/" class="logo" data-dark-logo="~/images/logo.jpg">
                            <img src="~/images/logo.jpg" alt="Jockey Salud Express">
                        </a>
                    </div>
                    <!--END: LOGO-->
                </div>
            </div>
        </header>
        <!-- END: HEADER -->
        <!-- MENSAJE AFILIATE -->
        <section class="section-fullwidth text-light no-padding">
            <div class="row">
                <div class="col-md-12 text-center" style="background-color: #00AFA2">
                    <h3>¡AFÍLIATE AHORA A JOCKEY SALUD Y OBTÉN GRANDES BENEFICIOS!</h3>
                </div>
            </div>
        </section>
        <!-- END: MENSAJE AFILIATE -->

        <div class="hidden-xs">
            <div class="jqespacio"></div>
        </div>

        <!--Default Form-->
        <section class="jqform">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 center p-30 background-grey">
                        <h4 class="text-center">Ingreso al sistema</h4>
                        <div class="text-center">
                            <img src="~/images/login.png">
                        </div>
                        @using (Html.BeginForm())
                        {
                            //this  is for create form tag
                            @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                                                        @Html.ValidationSummary(true)
                            if (@ViewBag.Message != null)
                            {
                                <div style="border: 1px solid red">
                                    @ViewBag.Message
                                </div>
                            }
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                @Html.TextBoxFor(model => model.Email, new { aria_required = true, @class = "form-control required", name = "email", placeholder = "Email", id = "email", type = "text" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-b-5">
                                <label class="sr-only">Contraseña</label>
                                @Html.PasswordFor(model => model.Password, new { aria_required = true, @class = "form-control required", name = "pass", placeholder = "Contraseña", id = "pass", type = "password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group form-inline text-right">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"><small> Recordar</small>
                                    </label>
                                </div>
                            </div>
                            <div class="text-right form-group">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>


        <div class="hidden-xs">
            <div class="jqespacio"></div>
        </div>

        <!--END: Default Form-->
        <!-- FOOTER -->
        <footer class="background-jqgreen text-blanco" id="footer">
            <div class="copyright-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="copyright-text text-left">
                                Jockey Salud Copyright 2016 - Todos los derechos reservados.<br />
                                <a href="http://www.clic.com.pe" title="Desarrollo y diseño web" target="_blank">Desarrollado por CLIC Perú</a>
                            </div>
                        </div>

                        <div class="col-md-5 col-md-offset-3">
                            <div class="row text-right">
                                <div class="social-icons social-icons-border">
                                    <ul>
                                        <li class="social-facebook"><a href="http://www.facebook.com/JockeySalud" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-twitter"><a href="http://www.twitter.com/JockeySalud" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-wordpress"><a href="http://jockeysalud.wordpress.com/" target="_blank"><i class="fa fa-wordpress"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>
        <!-- END: FOOTER -->

    </div>
    <!-- END: WRAPPER -->
    <!-- Componentes y Configuración -->
    <script src="~/js/theme-functions.js"></script>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
    <!-- Custom js file -->
    <script src="~/js/custom.js"></script>
</body>

</html>

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm())
            {
                //this  is for create form tag
                @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                @Html.ValidationSummary(true)
                if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <table>
                    <tr>
                        <td>@Html.LabelFor(a => a.Email)</td>
                        <td>@Html.TextBoxFor(a => a.Email)</td>
                        <td>@Html.ValidationMessageFor(a => a.Email)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(a => a.Password)
                        </td>
                        <td>
                            @Html.PasswordFor(a => a.Password)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(a => a.Password)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Login" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            }


            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </body>
    </html>*@
